<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="content">

      <!--pinterest logo-->
      <!-- Put your logo in public/images/logo.jpg (or adjust path to where the file actually is) -->
      <img src="/images/logo.jpg" alt="pin logo" class="img1" onerror="console.error('Logo failed to load:', this.src)" />
      <p class="header">Log in to see more</p>
      <form action="/login" method="post">
        
      <input type="email" name="username" placeholder="Email" class="detail" /><br />
      <input type="password" name="password" placeholder="Password" class="detail" />
      <% if (error.length > 0) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% } %>

      <input type="submit" value="Login Account" class="btn int"></input>
    </form>
      <h4>Forgot your password?</h4>


    </div>
  </div>
  <div class="upbtn" onclick="window.location.href='/'">Sign up</div>


</body>
</html>